.blog-item .header h2 {
  font-size: 3.0rem;
}

.blog-item .link-and-date {
  display: flex;
  align-items: center;
  gap: 0.1em;
  font-size: 1.6rem;
  margin-bottom: 0.3em;
}

.item p {
  margin-top: 0.3em;
  font-size: 2.0rem;
}
